# Core functionality - changes here should be rare!
/src/app.py                   @DmytroMigirov
/src/backend/database.py      @DmytroMigirov
/src/backend/routers/auth.py  @DmytroMigirov

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DmytroMigirov
